In [3]:
import pandas as pd

In [ ]:
edingburgh_columns = [
    'date', 
    'sunrise', 
    'sunset', 
    'daylength', 
    'moonrise', 
    'moonset', 
    'moonphase', 'moonillumination', 'moonage', 'moondistance', 'moonsign']

In [6]:
sheets = pd.read_excel('data/Edinburgh-daytime.xlsx', sheet_name=None)

all_sheets = []
for k in sheets.keys():
    all_sheets.append(sheets[k])
df = pd.concat(all_sheets, ignore_index=True)
df

,2011,Sunrise/Sunset,Unnamed: 2,Daylength,Unnamed: 4,Astronomical Twilight,Unnamed: 6,Nautical Twilight,Unnamed: 8,Civil Twilight,Unnamed: 10,Solar Noon,Unnamed: 12,2012,2013
0,Dec,Sunrise,Sunset,Length,Difference,Start,End,Start,End,Start,End,Time,Mil. km,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,08:18 ↑ (130°),15:44 ↑ (230°),07:25:45,−2:37,06:00:00,18:02:00,06:45:00,17:17:00,07:33:00,16:29:00,12:01 (12.3°),147.52,NaN,NaN
3,2,08:20 ↑ (130°),15:43 ↑ (230°),07:23:13,−2:31,06:02:00,18:01:00,06:46:00,17:16:00,07:34:00,16:28:00,12:02 (12.2°),147.495,NaN,NaN
4,3,08:21 ↑ (130°),15:42 ↑ (229°),07:20:48,−2:25,06:03:00,18:01:00,06:48:00,17:16:00,07:36:00,16:28:00,12:02 (12.0°),147.471,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,NaN,08:16 ↑ (123°),16:35 ↑ (237°),08:19:28,+3:48,06:05:00,18:46:00,06:48:00,18:03:00,07:34:00,17:17:00,12:25 (15.8°),147.317,NaN,27
486,NaN,08:14 ↑ (122°),16:37 ↑ (238°),08:23:19,+3:51,06:03:00,18:48:00,06:47:00,18:04:00,07:32:00,17:19:00,12:25 (16.0°),147.336,NaN,28
487,NaN,08:12 ↑ (122°),16:39 ↑ (238°),08:27:14,+3:54,06:02:00,18:50:00,06:45:00,18:06:00,07:31:00,17:21:00,12:25 (16.3°),147.355,NaN,29
488,NaN,08:10 ↑ (121°),16:42 ↑ (239°),08:31:11,+3:57,06:00:00,18:52:00,06:44:00,18:08:00,07:29:00,17:23:00,12:26 (16.6°),147.375,NaN,30
489,NaN,08:08 ↑ (121°),16:44 ↑ (240°),08:35:12,+4:00,05:59:00,18:53:00,06:42:00,18:10:00,07:27:00,17:25:00,12:26 (16.9°),147.396,NaN,31