In [ ]:
import pandas as pd
from pipeline import ingest, transform, utils, resample
from config.config import EDINBURGH_COLUMNS, EDINBURGH_DATA, STRATHSPEY_COLUMNS, STRATHSPEY_DATA
from pipeline.ingest import load_sheets
from pipeline.transform import clean_daytime_sheets
from pipeline.transform import clean_weather_sheets
from pipeline.utils import merge_datasets
from pipeline.utils import get_mins_from_time

In [4]:
edin_sheets = load_sheets(EDINBURGH_DATA)
edin_df = clean_daytime_sheets(edin_sheets, EDINBURGH_COLUMNS)
edin_df.head(10)

,date,sunrise,sunset,daylength,daylength_diff,astro_twilight_start,astro_twilight_end,nautical_twilight_start,nautical_twilight_end,civil_twilight_start,civil_twilight_end,solar_noon_time,solar_noon_dist
0,2011-12-01,08:18,15:44,07:25:45,-2:37,06:00:00,18:02:00,06:45:00,17:17:00,07:33:00,16:29:00,12:01,147.52
1,2011-12-02,08:20,15:43,07:23:13,-2:31,06:02:00,18:01:00,06:46:00,17:16:00,07:34:00,16:28:00,12:02,147.495
2,2011-12-03,08:21,15:42,07:20:48,-2:25,06:03:00,18:01:00,06:48:00,17:16:00,07:36:00,16:28:00,12:02,147.471
3,2011-12-04,08:23,15:41,07:18:29,-2:18,06:04:00,18:00:00,06:49:00,17:15:00,07:37:00,16:27:00,12:02,147.447
4,2011-12-05,08:24,15:41,07:16:17,-2:12,06:05:00,18:00:00,06:50:00,17:15:00,07:39:00,16:27:00,12:03,147.425
5,2011-12-06,08:26,15:40,07:14:11,-2:05,06:06:00,18:00:00,06:52:00,17:14:00,07:40:00,16:26:00,12:03,147.403
6,2011-12-07,08:27,15:40,07:12:12,-1:58,06:07:00,17:59:00,06:53:00,17:14:00,07:41:00,16:26:00,12:04,147.381
7,2011-12-08,08:29,15:39,07:10:20,-1:51,06:09:00,17:59:00,06:54:00,17:14:00,07:42:00,16:25:00,12:04,147.361
8,2011-12-09,08:30,15:39,07:08:36,-1:44,06:10:00,17:59:00,06:55:00,17:14:00,07:44:00,16:25:00,12:04,147.342
9,2011-12-10,08:31,15:38,07:06:58,-1:37,06:11:00,17:59:00,06:56:00,17:14:00,07:45:00,16:25:00,12:05,147.323

In [5]:
strat_sheets = load_sheets(STRATHSPEY_DATA)
strat_df = clean_weather_sheets(strat_sheets, STRATHSPEY_COLUMNS)
strat_df.head(10)

,date,temp_c_mean,temp_c_min,temp_c_max,rain_mm,pressure_mb_am,pressure_mb_pm,wind_mean_mph,wind_max_mph,wind_direction,sun_hours,snow
0,2011-12-01,3.6,-0.4,4.6,0,995,1004,4.1,36,SSW,2.7,
1,2011-12-02,2.6,-1.5,7.5,5.5,1003,983,6.5,36,SSW,1.8,
2,2011-12-03,2.4,0.4,4.4,,986,988,9.5,46,SSW,0.75,6.0
3,2011-12-04,-1.6,-0.9,0.4,,988,992,4.5,22,SSW,1.66,3.7
4,2011-12-05,-1.6,-4.2,0.2,,994,998,2.8,17,SSW,1.08,2.9
5,2011-12-06,-2.7,-2.8,1.2,,998,992,37,19,WSW,2.92,5.1
6,2011-12-07,0.2,-5.3,3.8,,989,1005,6.1,39,SSW,0.15,8.6
7,2011-12-08,2.4,-0.8,6.7,14.6,979,981,15.9,62,SSW,0.72,
8,2011-12-09,-0.8,0.9,1.4,,1000,1007,6.7,34,WSW,0.75,2.6
9,2011-12-10,-3.2,-8,3.5,,1008,1001,1,10,SSE,1.46,0.5

In [6]:
merged = merge_datasets(edin_df, strat_df)
merged.head(10)

,date,sunrise,sunset,daylength,daylength_diff,astro_twilight_start,astro_twilight_end,nautical_twilight_start,nautical_twilight_end,civil_twilight_start,...,temp_c_min,temp_c_max,rain_mm,pressure_mb_am,pressure_mb_pm,wind_mean_mph,wind_max_mph,wind_direction,sun_hours,snow
0,2011-12-01,08:18,15:44,07:25:45,-2:37,06:00:00,18:02:00,06:45:00,17:17:00,07:33:00,...,-0.4,4.6,0,995,1004,4.1,36,SSW,2.7,
1,2011-12-02,08:20,15:43,07:23:13,-2:31,06:02:00,18:01:00,06:46:00,17:16:00,07:34:00,...,-1.5,7.5,5.5,1003,983,6.5,36,SSW,1.8,
2,2011-12-03,08:21,15:42,07:20:48,-2:25,06:03:00,18:01:00,06:48:00,17:16:00,07:36:00,...,0.4,4.4,,986,988,9.5,46,SSW,0.75,6.0
3,2011-12-04,08:23,15:41,07:18:29,-2:18,06:04:00,18:00:00,06:49:00,17:15:00,07:37:00,...,-0.9,0.4,,988,992,4.5,22,SSW,1.66,3.7
4,2011-12-05,08:24,15:41,07:16:17,-2:12,06:05:00,18:00:00,06:50:00,17:15:00,07:39:00,...,-4.2,0.2,,994,998,2.8,17,SSW,1.08,2.9
5,2011-12-06,08:26,15:40,07:14:11,-2:05,06:06:00,18:00:00,06:52:00,17:14:00,07:40:00,...,-2.8,1.2,,998,992,37,19,WSW,2.92,5.1
6,2011-12-07,08:27,15:40,07:12:12,-1:58,06:07:00,17:59:00,06:53:00,17:14:00,07:41:00,...,-5.3,3.8,,989,1005,6.1,39,SSW,0.15,8.6
7,2011-12-08,08:29,15:39,07:10:20,-1:51,06:09:00,17:59:00,06:54:00,17:14:00,07:42:00,...,-0.8,6.7,14.6,979,981,15.9,62,SSW,0.72,
8,2011-12-09,08:30,15:39,07:08:36,-1:44,06:10:00,17:59:00,06:55:00,17:14:00,07:44:00,...,0.9,1.4,,1000,1007,6.7,34,WSW,0.75,2.6
9,2011-12-10,08:31,15:38,07:06:58,-1:37,06:11:00,17:59:00,06:56:00,17:14:00,07:45:00,...,-8,3.5,,1008,1001,1,10,SSE,1.46,0.5

In [8]:
merged.to_csv('outputs/scottish_weather_data1.csv', index=False)